body {
    background-color: #eaeff4;
    font-family: Helvetica

}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
h1 {
    color: orange;
    font-family: Helvetica
}
p {
    color: black;
    font-family: Helvetica
}
